# Flutter
.dart_tool/
.packages
build/
*.iml
.metadata

# IDE
.idea/
*.swp
.vscode/

# Secrets
*.env
*.jks
*.keystore
key.properties
google-services.json
GoogleService-Info.plist

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# OS
.DS_Store
Thumbs.db

# Puro
.puro/
